<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>唯品金融内测应用</title>

    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header" style="height: 120px;background-color: #f10180;text-align: center;">
      <p style="color: white;font-size: 24pt;padding-top: 30px;">唯品金融内测应用</p>
    </div>
    <div id="app" class="container-fluid">
      <app-item v-for="app in appList" v-bind:app="app"></app-item>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vuejs -->
    <script src="//cdn.bootcss.com/vue/2.3.0/vue.js"></script>
    <script type="text/javascript">
    Vue.component('app-item', {
      props: ['app'],
      template: '<div class="row" style="height: 116px; border-bottom:1px solid lightgray; "> \
      <div class="col-xs-3"> \
        <img style="height: 72px; width: 72px; margin-top: 13px;margin-left: 0px;" src="./apps/jrapp/icon.png"> \
          <p style="font-size: 10pt;color: black;margin-top: 4px; width: 72px; text-align: center;">{{ app.name }}</p> \
        </img> \
      </div> \
      <div class="col-xs-6" style="padding-top:20px;"> \
        <p v-if="app.ios != null" style="color:#888888;">苹果版：v{{ app.ios.version }} ({{ app.ios.date }})</p> \
        <p v-if="app.android != null" style="color:#888888;">安卓版：v{{ app.android.version }} ({{ app.android.date }})</p> \
      </div> \
      <div class="col-xs-3" style="height: 100%; padding-top:10px;"> \
        <a v-if="app.ios != null" style="margin-top: 10px; border-color: #0076ff; color: #0076ff;" \
          href="itms-services://?action=download-manifest&url=https://ccwangzh.github.io/apps/jrapp/info.plist" class="btn btn-default btn-xs" role="button">苹果下载</a> \
        <a v-if="app.android != null" style="margin-top: 10px; border-color: #0076ff; color: #0076ff;" href="#" class="btn btn-default btn-xs" role="button">安卓下载</a> \
      </div> \
    </div>'
    })
    var app = new Vue({
      el: '#app',
      data: {
        appList: [
        ]
      },
      methods: {
        getAppInfo: function(appId) {
          appIndex = -1;
          for (var i = 0; i < this.appList.length; i ++) {
            if (this.appList[i].id == appId) {
              appIndex = i;
              break;
            }
          }
          appInfo = null;
          if (appIndex >= 0) {
            appInfo = this.appList[appIndex];
          } else {
            appInfo = {id:appId, ios:null, android:null};
            this.appList.push(appInfo);
          }
          return appInfo;
        },
        iOSAdd: function(iosInfo) {
          appId = iosInfo.id;
          appInfo = this.getAppInfo(appId);
          appInfo.ios = iosInfo;
          appInfo.name = iosInfo.name;
        },
        androidAdd: function(androidInfo) {;
          appId = androidInfo.id;
          appInfo = this.getAppInfo(appId);
          appInfo.android = androidInfo;
          appInfo.name = androidInfo.name;
        }
      }
    })

    function iOS(appInfo) {
      app.iOSAdd(appInfo);
    };

    function android(appInfo) {
      app.androidAdd(appInfo);
    };
    </script>
    <script src="./apps/jrapp/android.js"></script>
    <script src="./apps/jrapp/ios.js"></script>
  </body>
</html>